<p>goal-form works!</p>
<!-- <div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form >
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" required>
  
        </div>
    </form>
  </div> -->
  <div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <!-- <form #goalForm='ngForm'> -->
         <form (ngSubmit)='submitGoal()' #goalForm='ngForm'>
        <!--------------------------------------------------------------->
        <div class="form-group">

                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="newGoal.name" name="name" #name='ngModel' required>
                 <!-- Testing to see if we get any data -->
                 Display {{newGoal.name}}
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  <p>Name is required</p>
                </div>
        </div>
        <!--------------------------------------------------------------->
        <!-- <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newGoal.name" name="name">
  
  Testing to see if we get any data
            Display {{newGoal.name}}
        </div> -->
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>description is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="complete">Completion</label>
            <input type='date' id="complete" required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Goal</button>
    </form>
  </div>
  
  
  
